# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [35]:
# here is a Python list:
a = [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [38]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python

newList = a[3:]
newList

[4, 5, 6]

In [4]:
# create a list of numbers from 1 to 20

list = [i for i in range(1,21)]
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [5]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
list = [i for i in range(1,101) if i % 2 ==0]
list

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [18]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second

def divide(a, b):
    return a/b

In [7]:
# write a function that takes a string as input
# and return that string in all caps
def cap(string):
    return string.upper()

cap("hello")

'HELLO'

In [8]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
for i in range(1,31):
    if i % 3 == 0 and i % 5 ==0:
        print("fizzbuzz")
    elif i % 3 == 0:
        print("fizz")
    elif i % 5 ==0:
        print("buzz")
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [19]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

dict = {"Gyro": 9, "Burger": 9, "Greek Salad": 8, "Philly Steak": 10}
print(dict)

{'Gyro': 9, 'Burger': 9, 'Greek Salad': 8, 'Philly Steak': 10}

In [10]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial

import pandas as pd 
df = pd.read_csv("../data/starbucks.csv")
type(df)

df.head()

,beverage_category,beverage,beverage_prep,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine
0,coffee,brewed coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0,0,0,0.0,175.0
1,coffee,brewed coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0,0,0,0.0,260.0
2,coffee,brewed coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,0,0.0,330.0
3,coffee,brewed coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,2,0.0,410.0
4,classic espresso drinks,caff latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10,0,20,0.0,75.0

In [11]:
# output the calories, sugars, and protein columns only of every 40th row. 

selected_rows = df.loc[::40,["calories", "sugars", "protein"]]
selected_rows.head()

     calories  sugars  protein
0           3       0      0.3
40          5       0      0.4
80        350      58     15.0
120       140      20      6.0
160       110      24      2.0

In [12]:
# select all rows with more than and including 400 calories
selected_rows = df[df["calories"]>=400]
selected_rows

,beverage_category,beverage,beverage_prep,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine
81,signature espresso drinks,white chocolate mocha (without whipped cream),2% Milk,400,11.0,7.0,0.2,25,250,61,0,58,15.0,15,2,45,0.0,150.0
83,signature espresso drinks,white chocolate mocha (without whipped cream),Venti Nonfat Milk,450,7.0,6.0,0.0,10,310,78,0,74,19.0,25,2,60,2.0,150.0
84,signature espresso drinks,white chocolate mocha (without whipped cream),2% Milk,510,15.0,9.0,0.2,35,330,77,0,74,19.0,20,4,60,2.0,150.0
85,signature espresso drinks,white chocolate mocha (without whipped cream),Soymilk,460,13.0,6.0,0.0,5,290,70,1,64,16.0,15,2,60,20.0,150.0
128,tazo tea drinks,tazo green tea latte,2% Milk,450,10.0,5.0,0.3,40,230,72,2,71,17.0,25,20,50,6.0,110.0
214,frappuccino blended coffee,java chip (without whipped cream),Venti Nonfat Milk,420,5.0,4.0,0.0,5,340,90,2,84,7.0,10,0,20,35.0,145.0
215,frappuccino blended coffee,java chip (without whipped cream),Whole Milk,460,10.0,7.0,0.2,15,340,90,2,84,7.0,6,0,15,35.0,145.0
216,frappuccino blended coffee,java chip (without whipped cream),Soymilk,430,8.0,4.5,0.0,0,330,88,3,80,6.0,6,0,20,40.0,145.0

In [24]:
# select all rows whose vitamin c content is higher than the iron content

df.columns
selected_rows = df[df["vitamin c"]>df["iron"]]

In [25]:
# create a new column containing the caffeine per calories of each drink
df["caffeine per calories"] = df["caffeine"]/df["calories"]

In [26]:
# what is the average calorie across all items?
df["calories"].mean()

193.87190082644628

In [27]:
# how many different categories of beverages are there?
df["beverage_category"].nunique()

9

In [34]:
# what is the average # calories for each beverage category?
tf = df.groupby("beverage_category")["calories"].mean()

In [29]:
dt = df.groupby("beverage_category")["calories"].mean()